<!DOCTYPE html>
<html>
<head>
  <title>CS273A Project - Identifying Thyroid Cancer Subtypes</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div style="position:absolute;top:0px;left:0px;width:100%;background-color:rgba(0,0,255,.05)">
	<div style="width:1000px;margin: 5px auto;border:3px solid #000;border-radius:5px;padding:10px;background-color:#FFF">
		<%= image_tag("logo.jpg", width: "80px", height: "80px", style: "position:absolute;z-index:0;") %>
		<div style="z-index:1;font-size:24pt;font-weight:bold;line-height:26pt;position:relative;left:90px;width:900px">Predicting the Clinical Outcome of Papillary Thyroid Carcinoma Patients through Publicly Available Omics Data</div>
		<div style="float:right;">
			Kun-Hsing Yu, Luke Pappas, Michael Fitzpatrick, Jessica Kung
		</div>
		<br style="clear:both;">
		<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav">
					<li<%= ' class=active' if controller.controller_name == 'home' %> ><a href="/home">Home</a></li>
					<li<%= ' class=active' if controller.controller_name == 'clinical' %> ><a href="/clinical">Underlying Data</a></li>
					<li<%= ' class=active' if controller.action_name == 'stage' %> ><a href="/analysis/stage">Tumor Stage Analysis</a></li>
					<li<%= ' class=active' if controller.action_name == 'survival' %> ><a href="/analysis/survival">Survival Analysis</a></li>
					<li<%= ' class=active' if controller.controller_name == 'results' %> ><a href="/results">Results</a></li>
					<li<%= ' class=active' if controller.controller_name == 'acknowledgements' %> ><a href="/acknowledgements">Acknowledgements</a></li>
				</ul>
			</div>
		</div>

		<%= yield %>
	</div>
</div>

</body>
</html>
